<section class="interior">
    <div class="container">
        <div>
            <br>
            <br>
            <h2>Interior Design</h2>
            <br>
            <h5>
                Our team of skilled interior designers is dedicated to understanding your vision and translating it into a tangible, harmonious reality. Whether you're looking to revamp a single room or overhaul your entire home or office, we tailor our services to meet your specific requirements. From concept development to the final touches, we guide you through the entire design process, ensuring that every element aligns with your style preferences and lifestyle.
            </h5>
            <br>
            <br>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row row-cols-1 row-cols-md-2 g-4">
                    <div class="col">
                        <div class="card">
                            <img src="../assets/interior/1.jpg" class="card-img-top" alt="img">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">
                                    This is a longer card with supporting text below as a natural lead-in to additional content.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="../assets/interior/2.jpg" class="card-img-top" alt="img">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">
                                    This is a longer card with supporting text below as a natural lead-in to additional content.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="../assets/interior/3.jpg" class="card-img-top" alt="img">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">
                                    This is a longer card with supporting text below as a natural lead-in to additional content.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="../assets/interior/4.jpg" class="card-img-top" alt="img">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">
                                    This is a longer card with supporting text below as a natural lead-in to additional content.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>